.container {
  background-color: purple;
}

header {
  background-color: red;
  nav {
    background-color: blue;
  }
}

main {
  background-color: lightblue;
  #content {
    background-color: green;
  }
}

footer {
  background-color: black;
  nav {
    background-color: grey;
  }
}
